.header__user-list {
  padding-top: 30px;
  font-size: 50px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana;
  font-weight: 400;
  text-align: center;
  &__button {
    margin-bottom: 30px;
  }
}
